*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}    
.empty{
    background-color: rgba(144, 193, 221, 0.89);
    height: 40vh ;
    position: relative;
}
.container {
    position: absolute;
    top: 40px;
    margin: 0 50px;
    background-color: white;       
}
.container .main{
    display: flex;
}
.container .main .content{
    padding: 30px 40px;
}
.container .main .content h1{
    color: rgba(99, 98, 98, 0.863);
    margin: 20px 0;
}
.container .main .content p{
    line-height: 30px;   
}
.container .main .content .hrf {
    color: rgba(66, 66, 66, 0.856);
    margin: 30px 0;
}
.container .main .content .hrf a{
    color: rgba(66, 66, 66, 0.856);
}
.container .main img{
    width: 40%;
    transition: .4s ease;
    opacity: .9;
}
.container .main img:hover{
   opacity: 1;
   box-shadow: -2px 0px 5px 0px rgba(170, 170, 170, 0.863);
}
.container .main .content button{
    padding: 15px 30px;
    color: white;
    background-color: rgba(221, 119, 35, 0.911);
    border-radius: 5px;    
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border: 1px solid rgba(221, 119, 35, 0.911);
    transition: .4s ease-in-out;
}
.container .main .content button:hover{
    color:rgba(221, 119, 35, 0.911);
    background-color: white;
}
.container .footer ul{
    list-style: none;
    display: flex;    
    justify-content: space-evenly;   
}
.container .footer ul li{
 cursor: pointer;    
}
.container .footer ul li img{
    width: 90px;
    opacity: .6;
    transition: .4s ease-in-out;
}
.container .footer ul li img:hover{ 
    opacity: 1;
}
@media (max-width:500px){
    .empty{
        height: 0;
    }  
    .container .main{
        display: block;
    }
    .container {
        position: absolute;
        top: 40px;
        margin: 0;
        width: 100%;
        background-color: white;   
        text-align: center;    
    }
    .container .main .content{
        padding: 0;
    }
}
